:root {
	--bgdColor: rgb(240,240,240);
	--extra-text-color:rgb(200, 200, 200);
	--text-color:rgb(10,20,10);
	--bs-body-bg: rgb(216,216,216);
	--primary2: #30304c;
	--standardSize: 5em;
	background-color: var(--bs-body-bg);
}

body {
	background-color: var(--bs-body-bg);
}

ruby {
	color:var(--extra-text-color);
}

.headDiv {
	color: var(--text-color);
	background-color: var(--primary2);
	vertical-align: top;
	height: var(--standardSize);
}

div {
	color: var(--text-color);
	background-color: var(--ddBgd);
	vertical-align: top;
}

.flexDiv {
	display: flex;
	float:left;
}

.sideButton {
	float:right;
	width: var(--standardSize);
	height:min-content;
}

.lImg {
	float:left;
	max-height: var(--standardSize);
}

.rImg {
	float:right;
	max-height: var(--standardSize);
}

h1 {
	color: var(--text-color);
	text-align: center;
	font-size: 2cqi;
	margin-top: 0;
}

.dropdown-toggle {
	padding-left: 0;
	padding-right: 0;
	width: 10em;
}

.btn.show {
	background-color: var(--bgdColor);
	color: var(--primary2);
	--bs-btn-active-bg: var(--primary2);
	--bs-btn-border-color:var(--primary2);
}